@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  height: 100vh; /*altura em 100% do Viewport (definido na tag HTML do arquivo Height*/
  box-sizing: border-box;
}

.titulo-destaque {
  color: #22d4fd;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10% 15%;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.apresentacao__conteudo__paragrafo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.apresentacao__links {
  display: flex;
  justify-content: space-between;
}

.apresentacao__links__link {
  background-color: #22d4fd;
  color: black;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  padding: 21px 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
